{{!-- begin: footer --}}
<div class="contacts-main contacts-main--dark-theme">
	<div class="container">
		<div class="contacts-main__col contacts-main__col--left col">
			<div class="title title--h2 title--underline_bottom">Приезжайте на просмотр<i class="horizontal-line" data--70-bottom="width: 0px" data--180-bottom="width: 40px"></i></div>
			<div class="contacts-main__cta contacts-main__cta--mobile">
				<button class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Записаться на визит</button>
			</div>
		</div>
		<div class="contacts-main__col contacts-main__col--right col">
			<address class="contacts contacts--full contacts--dark-theme">
				<a class="contacts__link contacts__phone" href="tel:+380443399655">+380 44 339 9655</a>
				<div class="contacts__address"><a href="#sales_office_popup"  onclick="show_modal()">Офис продаж:</a> г. Киев, ул. Вячеслава Черновола, 27</div>
				<div class="contacts__address">Адрес апартаментов: г. Киев, ул. Речная, 4</div>
				<a class="contacts__link contacts__email" href="mailto:sales@kamerton.house">sales@kamerton.house</a>
				<div class="contacts__working-hours">Пн-Пт: 10.00 - 20.00</div>
				<div class="contacts__working-hours">Сб-Вс: 10.00 - 18.00</div>
			</address>
		</div>
		<a class="btn-top" href="#">
			<svg class="icon icon--arrowWhiteLeft" width="21" height="12">
				<use xlink:href="#arrowWhiteLeft"></use>
			</svg>
		</a>
	</div>
</div>
{{!-- end: footer --}}
