---
title: Холбоо барих
holboo-barih: active
id: page-sales-department
class: page contacts-page
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<div class="page__wrapper">
		<div class="header-mobile">
			<a class="logo" href="/index.html" title="Асахи хотхон">
				<svg class="icon icon--logo-dark" width="157" height="21">
					<use xlink:href="#logo-dark"></use>
				</svg>
			</a>
		</div>
		{{!-- begin: content --}}

			<div id="map-container"></div>
			<div class="contacts-main">
				<div class="container">
					<div class="contacts-main__col">
						<div class="title title--h2 title--underline_bottom">Захиалга өгөх</div>
						<div class="contacts-main__cta contacts-main__cta--mobile">
							<button class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Захиалга</button>
						</div>
					</div>
					<div class="contacts-main__col contacts-main__col--right">
						<address class="contacts contacts--full">
							<a class="contacts__link contacts__phone" href="tel:+97699112233">+976 9911 2233</a>
							<div class="contacts__address">Төв оффис: Улаанбаатар хот Баянзүрх дүүрэг, Цамхаг 20</div>
							<div class="contacts__address">Хотхоны хаяг: Улаанбаатар хот Баянгол дүүрэг 2-330</div>
							<a class="contacts__link contacts__email" href="mailto:info@asahi.mn">info@asahi.mn</a>
							<div class="contacts__working-hours">Да-Ба: 10.00 - 20.00</div>
							<div class="contacts__working-hours">Бя-Ня: 10.00 - 18.00</div>
						</address>
					</div>
					<div class="contacts-actions"></div>
				</div>
			</div>

		{{!-- end: content --}}
	</div>
	{{!-- end: content container --}}





