---
title: Мэдээ
medee: active
id: archive
class: archive page
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<div class="page__wrapper">
		<div class="header-mobile">
			<a class="logo" href="/index.html" title="Асахи хотхон">
				<svg class="icon icon--logo-dark" width="157" height="21">
					<use xlink:href="#logo-dark"></use>
				</svg>
			</a>
		</div>
		{{!-- begin: content --}}

			<div class="info-block">
				<div class="container">

					<div class="info-board info-board-right">
						<div class="info-board__wrap">
							<div class="board-desc col">
								<div class="board-desc__wrap bounce-text" data-top-bottom="top: -100px" data-bottom-top="top: 100px">
									<h4 class="board-desc__title">Мэдээ мэдээллийн гарчиг нь<i class="horizontal-line" data-100-center="width: 0px" data--100-center="width: 40px"></i></h4>
									<p class="board-desc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand</p>
								</div>
								<a href="/medee_neg.html" class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Дэлгэрэнгүй</a>
							</div>
							<div class="col image-container">
								<div class="slide-wrap">
									<picture class="info-board__img">
										<source type="image/jpeg" srcset="https://via.placeholder.com/300x300 300w, https://via.placeholder.com/580x580 580w" sizes="100vw" />
										<img class="img-fluid" src="/assets/img/580x580.png" alt="580" width="580" height="580" />
									</picture>
								</div>
							</div>
							<!--.col.image-container-->
						</div>
					</div>
					<div class="info-board info-board-right">
						<div class="info-board__wrap">
							<div class="board-desc col">
								<div class="board-desc__wrap bounce-text" data-top-bottom="top: -100px" data-bottom-top="top: 100px">
									<h4 class="board-desc__title">Мэдээ мэдээллийн гарчиг нь<i class="horizontal-line" data-100-center="width: 0px" data--100-center="width: 40px"></i></h4>
									<p class="board-desc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand</p>
								</div>
								<a href="/medee_neg.html" class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Дэлгэрэнгүй</a>
							</div>
							<div class="col image-container">
								<div class="slide-wrap">
									<picture class="info-board__img">
										<source type="image/jpeg" srcset="https://via.placeholder.com/300x300 300w, https://via.placeholder.com/580x580 580w" sizes="100vw" />
										<img class="img-fluid" src="/assets/img/580x580.png" alt="580" width="580" height="580" />
									</picture>
								</div>
							</div>
							<!--.col.image-container-->
						</div>
					</div>
					<div class="info-board info-board-right">
						<div class="info-board__wrap">
							<div class="board-desc col">
								<div class="board-desc__wrap bounce-text" data-top-bottom="top: -100px" data-bottom-top="top: 100px">
									<h4 class="board-desc__title">Мэдээ мэдээллийн гарчиг нь<i class="horizontal-line" data-100-center="width: 0px" data--100-center="width: 40px"></i></h4>
									<p class="board-desc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand</p>
								</div>
								<a href="/medee_neg.html" class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Дэлгэрэнгүй</a>
							</div>
							<div class="col image-container">
								<div class="slide-wrap">
									<picture class="info-board__img">
										<source type="image/jpeg" srcset="https://via.placeholder.com/300x300 300w, https://via.placeholder.com/580x580 580w" sizes="100vw" />
										<img class="img-fluid" src="/assets/img/580x580.png" alt="580" width="580" height="580" />
									</picture>
								</div>
							</div>
							<!--.col.image-container-->
						</div>
					</div>
					<div class="info-board info-board-right">
						<div class="info-board__wrap">
							<div class="board-desc col">
								<div class="board-desc__wrap bounce-text" data-top-bottom="top: -100px" data-bottom-top="top: 100px">
									<h4 class="board-desc__title">Мэдээ мэдээллийн гарчиг нь<i class="horizontal-line" data-100-center="width: 0px" data--100-center="width: 40px"></i></h4>
									<p class="board-desc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand</p>
								</div>
								<a href="/medee_neg.html" class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Дэлгэрэнгүй</a>
							</div>
							<div class="col image-container">
								<div class="slide-wrap">
									<picture class="info-board__img">
										<source type="image/jpeg" srcset="https://via.placeholder.com/300x300 300w, https://via.placeholder.com/580x580 580w" sizes="100vw" />
										<img class="img-fluid" src="/assets/img/580x580.png" alt="580" width="580" height="580" />
									</picture>
								</div>
							</div>
							<!--.col.image-container-->
						</div>
					</div>
					<div class="info-board info-board-right">
						<div class="info-board__wrap">
							<div class="board-desc col">
								<div class="board-desc__wrap bounce-text" data-top-bottom="top: -100px" data-bottom-top="top: 100px">
									<h4 class="board-desc__title">Мэдээ мэдээллийн гарчиг нь<i class="horizontal-line" data-100-center="width: 0px" data--100-center="width: 40px"></i></h4>
									<p class="board-desc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand</p>
								</div>
								<a href="/medee_neg.html" class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Дэлгэрэнгүй</a>
							</div>
							<div class="col image-container">
								<div class="slide-wrap">
									<picture class="info-board__img">
										<source type="image/jpeg" srcset="https://via.placeholder.com/300x300 300w, https://via.placeholder.com/580x580 580w" sizes="100vw" />
										<img class="img-fluid" src="/assets/img/580x580.png" alt="580" width="580" height="580" />
									</picture>
								</div>
							</div>
							<!--.col.image-container-->
						</div>
					</div>
					<div class="info-board info-board-right">
						<div class="info-board__wrap">
							<div class="board-desc col">
								<div class="board-desc__wrap bounce-text" data-top-bottom="top: -100px" data-bottom-top="top: 100px">
									<h4 class="board-desc__title">Мэдээ мэдээллийн гарчиг нь<i class="horizontal-line" data-100-center="width: 0px" data--100-center="width: 40px"></i></h4>
									<p class="board-desc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand</p>
								</div>
								<a href="/medee_neg.html" class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Дэлгэрэнгүй</a>
							</div>
							<div class="col image-container">
								<div class="slide-wrap">
									<picture class="info-board__img">
										<source type="image/jpeg" srcset="https://via.placeholder.com/300x300 300w, https://via.placeholder.com/580x580 580w" sizes="100vw" />
										<img class="img-fluid" src="/assets/img/580x580.png" alt="580" width="580" height="580" />
									</picture>
								</div>
							</div>
							<!--.col.image-container-->
						</div>
					</div>
					<div class="info-board info-board-right">
						<div class="info-board__wrap">
							<div class="board-desc col">
								<div class="board-desc__wrap bounce-text" data-top-bottom="top: -100px" data-bottom-top="top: 100px">
									<h4 class="board-desc__title">Мэдээ мэдээллийн гарчиг нь<i class="horizontal-line" data-100-center="width: 0px" data--100-center="width: 40px"></i></h4>
									<p class="board-desc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand</p>
								</div>
								<a href="/medee_neg.html" class="b24-web-form-popup-btn-7 button button--cta button-callback animated">Дэлгэрэнгүй</a>
							</div>
							<div class="col image-container">
								<div class="slide-wrap">
									<picture class="info-board__img">
										<source type="image/jpeg" srcset="https://via.placeholder.com/300x300 300w, https://via.placeholder.com/580x580 580w" sizes="100vw" />
										<img class="img-fluid" src="/assets/img/580x580.png" alt="580" width="580" height="580" />
									</picture>
								</div>
							</div>
							<!--.col.image-container-->
						</div>
					</div>
					<nav class="navigation pagination" role="navigation">
						<h2 class="screen-reader-text"> </h2>
						<div class="nav-links"><span class='page-numbers current'>1</span>
							<a class='page-numbers' href='#'>2</a>
							<a class="next page-numbers" href="#">></a>
						</div>
					</nav>
				</div>
			</div>

		{{!-- end: content --}}
	</div>
	{{!-- end: content container --}}





