---
title: Мэдээ
medee_neg: active
id: page-about-house
class: page about-home
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<div class="page__wrapper">
		<div class="header-mobile">
			<a class="logo" href="/index.html" title="Асахи хотхон">
				<svg class="icon icon--logo-dark" width="157" height="21">
					<use xlink:href="#logo-dark"></use>
				</svg>
			</a>
		</div>
		{{!-- begin: content --}}

		<div class="page__about">
			<div class="first-home">
				<section class="section headline">
					<div class="headline__wrap">
						<div class="fp-bg__inner">
							<div class="headline__bg fp-bg" style="background-image:url(/assets/img/2880x1500.png);"></div>
						</div>
						<div class="headline__inner" data-top-bottom="top: -120px" data-bottom="top: 120px">
							<div class="headline__logo headline__animation headline__animation--fade">
								<a href="/index.html" title="Асахи хотхон">
									<svg class="icon icon--logo" width="252" height="56">
										<use xlink:href="#logo"></use>
									</svg>
								</a>
							</div>
							<h2 class="headline__title headline__animation headline__animation--fade">Нэг мэдээ гарчиг</h2>
						</div>
					</div>
				</section>
			</div>

			<div class="banner-home">
				<div class="container">
					<div class="bounce-text">
                        <p class="banner-home__text bounce-text">
							What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
						</p>
                    </div>
				</div>
			</div>

		</div>


		{{!-- end: content --}}
	</div>
	{{!-- end: content container --}}





