---
title: Хэрэглэгчийн инвоис
404: active
id: page-about-house
class: page about-home
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<div class="page__wrapper">
		{{!-- begin: content --}}

		<div class="page__about">
			<div class="banner-home">
				<div class="container">
					<div class="invoice-box">
						<table cellpadding="0" cellspacing="0">
							<tr class="top">
							<td colspan="4">
								<table>
								<tr>
									<td class="title">
										Хэрэглэгчийн нэр
									</td>

									<td>
									Invoice #: 123<br> Created: January 1, 2015<br> Due: February 1, 2015
									</td>
								</tr>
								</table>
							</td>
							</tr>

							<tr class="information">
							<td colspan="4">
								<table>
								<tr>
									<td>
									йыбйыб, Inc.<br> 12345 qwe<br> zxc, xc 12345
									</td>

									<td>
									Acme Corp.<br> John Doe<br> john@example.com
									</td>
								</tr>
								</table>
							</td>
							</tr>

							<tr class="heading">
							<td colspan="3">
								Payment Method
							</td>

							<td>
								Check #
							</td>
							</tr>

							<tr class="details-invoice">
							<td colspan="3">
								Check
							</td>

							<td>
								1000
							</td>
							</tr>

							<tr class="heading">
							<td>
								Item
							</td>

							<td>
								Unit Cost
							</td>

							<td>
								Quantity
							</td>

							<td>
								Price
							</td>
							</tr>

							<tr class="item">
							<td>
								qweqweqwe
							</td>

							<td>
								$300
							</td>

							<td>
								1
							</td>

							<td>
								$300.00
							</td>
							</tr>

							<tr class="item">
							<td>
								asdasdasd
							</td>

							<td>
								$123
							</td>

							<td>
								1
							</td>

							<td>
								$123.00
							</td>
							</tr>

							<tr class="item">
							<td>
								zxczxczxc
							</td>

							<td>
								$10
							</td>

							<td>
								1
							</td>

							<td>
								$10.00
							</td>
							</tr>

							<tr class="total">
							<td colspan="3"></td>

							<td>
								Нийт: $385.00
							</td>
							</tr>
						</table>
						</div>

				</div>
			</div>
		</div>

		{{!-- end: content --}}
	</div>
	{{!-- end: content container --}}

