---
title: Гишүүдийн хуудас
404: active
id: page-about-house
class: page about-home
---
	{{> navbar }}

	{{!-- begin: content container --}}
	<div class="page__wrapper">
		{{!-- begin: content --}}

		<div class="page__about">
			<div class="banner-home">
				<div class="container">
					<div class="bounce-text skrollable skrollable-between" data-top-bottom="top: -70px" data-bottom="top: 70px" style="top: 14.6853px;">
                        <h4 class="banner-home__title">Хэрэглэгчийн нэр</h4>
                    </div>
					<table id="example" class="display" style="width:100%">
						<thead>
							<tr>
								<th>Огноо</th>
								<th>Орлого</th>
								<th>Зарлага</th>
								<th>Үлдэгдэл</th>
								<th>Дэлгэрэнгүй</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Огноо</th>
								<th>Орлого</th>
								<th>Зарлага</th>
								<th>Үлдэгдэл</th>
								<th>Дэлгэрэнгүй</th>
							</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>

		{{!-- end: content --}}
	</div>
	{{!-- end: content container --}}

